<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" parallel="tests" thread-count="1">
  
  <!-- Suite-level listener -->
  <listeners>
    <listener class-name="utils.SuiteListener"/>
  </listeners>

  <test name="CrossBrowserLoginTest">
    <parameter name="browser" value="chrome"/> <!-- or firefox / edge -->
    <classes>

     <!-- <class name="testCases.AddUserMgmt"/>
      <class name="testCases.SearchAndEditUser"/>
      <class name="testCases.DeleteTheUser"/>-->
      <class name="testCases.CrudOperation"/>
    </classes>
  </test>

</suite>
